.accordion {
  width: 100%;
  height: auto;

  &__tittle {
    padding: 150px;
    text-align: center;
    font-size: 3rem;
    line-height: 50px;
    color: #fff;
    font-weight: 400;

    @media #{$medium-and-down} {
      font-size: 24px;
      line-height: 18px;
      padding: 50px;
    }

    @media only screen and (max-width: 321px) {
      font-size: 20px;
      line-height: 18px;
    }
  }

  &__collapsible {
    padding-bottom: 80px;
  }

}







summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  outline: none;
  text-align: left;
  cursor: pointer;
  position: relative;

  @media #{$medium-and-down} {
    font-size: 0.55rem;
  }

  @media #{$medium-only} {
    font-size: 0.75rem;
  }

}


details[open] summary~* {
  animation: sweep .5s ease-in-out;
  border-bottom: solid 1px black;
  color: #fff;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

details>summary::after {
  position: absolute;
  content: "+";
  right: 20px;
  color: #fff;
  font-size: 16px;

  @media #{$medium-and-down} {
    font-size: 0.75rem;
  }
}

details[open]>summary::after {
  position: absolute;
  content: "-";
  right: 20px;
  color: #fff;

}

details>summary::-webkit-details-marker {
  display: none;
}

details p {
  font-size: 0.55rem;

  @media #{$medium-only} {
    font-size: 0.75rem;
  }
}